h1{
   color: peru; 
}

h2{
   color: plum;
}
h3{
   color: beige;
}

h3:hover{
   color: burlywood;
}

h2::shadow{
   color: brown
}

h5{
   color: red;
   border-color:darkslateblue;
   border-radius: 20cm;
   border-width: 20px;
}

h5::first-letter{
   color: darkblue;
}

