h1{
   color: peru; 
}

h2{
   color: plum;
}
h3{
   color: beige;
}

h3:hover{
   color: burlywood;
}

h2::shadow{
   color: brown
}

h5{
   color: red;
   
}

h5::first-letter{
   color: darkblue;
}

